#requestForm {
	height: 500px;
	margin-left: 25px;
	width: 800px;
}

#prettyPrint {
	margin-top: 15px;
	font-size: 15px;
	font-family: Arial;
	max-height: 100%;
	overflow: auto;
	background: #44453f;
	color: white;
	display: inline-block;
	width: 800px;
}

body {
	background: #272822;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #272822;
}

#url {
	height: 20px;
	width: 600px;
}

#submit {
	font-family: Helvetica;
	font-size: 20px;
	margin-left: 5px;
}
#navBar {
	background: #272822;
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	color: #e6db74;
}

#enterUrl {
	color: #f92772;
}

#urlField {
	margin-left: 25px;
}
#requestForm {
	float: left;
	color: white;
}

#summary {
	width: 400px;
	margin-left: 60px;
	color: white;
	font: Arial;
	display: inline-block;
}

#summary_info {
	display: inline-block;
	width: 45%;
	height: 100%;
}

#clear_button {
	background-color: black;
	border-style: solid;
	border-color: red;
	color: red;
	margin-bottom: 10px;
}

.button_style {
	background-color: black;
	border-style: solid;
	border-color: white;
	color: white;
	margin-right: 10px;
	margin-bottom: 3px;
	margin-top: 10px;
}
